<li class="burger-item">
	<div class="namecol">
		{{#if devoured}}
		<button class="burger-devoure" data-id="{{id}}" data-changedevoured="{{devoured}}">
			<div class="button-text">{{burger_name}} <br>Added: {{prettifyDate date_created}}</div>
		</button>
		{{else}}
		<div class="devoured">{{burger_name}}<br>Devoured: {{prettifyDate date_devoured}}</div>
		{{/if}}
	</div>


	<div class="editcol">
		<button class="burger-edit" data-id="{{id}}">
			EDIT
		</button>
		<button class="burger-delete" data-id="{{id}}">
			DELETE
		</button>
	</div>
</li>