<li class="burger-name">
	{{#if devoured}}
	<button class="burger-devoured" data-id="{{id}}" data-changedevoured="{{devoured}}">
		{{burger_name}}
	</button>
	{{else}}
		{{burger_name}}
	{{/if}}
	
	{{!-- <button class="delete" data-id="{{id}}">
		DELETE
	</button> --}}
</li>