<li class="burger-name">
	{{#if devoured}}
	<div class="namecol">
		<button class="burger-devoured" data-id="{{id}}" data-changedevoured="{{devoured}}">
			{{burger_name}} added: {{prettifyDate date_created}}
		</button>
	</div>
	{{else}}
	<div class="namecol devoured">
		{{burger_name}} devoured: {{prettifyDate date_devoured}}
	</div>
	{{/if}}

	<div class="deletecol">
		<button class="burger-devoured delete" data-id="{{id}}">
			DELETE
		</button>
	</div>
</li>